.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  .home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    // width: 100%;
  }
}
